annotated-types==0.6.0
customtkinter @ git+https://github.com/CaioEmPessoa/CustomTkinter.git@e4922f65e9d5177473e6b280c765d31087ca2c91
darkdetect==0.8.0
packaging==23.2
Pillow==10.1.0
pydantic==2.5.2
pydantic_core==2.14.5
typing_extensions==4.8.0
